.App {
  background: #fff;
  padding: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  min-height: 100vh;
  background-color: rgb(18, 15, 58);
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

.active {
  opacity: 0;
  transition: .5s ease-in-out;
}